<table border = 1 >
  <tr>
	<th>Project Id</th>
    <th>Project Name</th>
	
    <th>Edit</th>
    <th>Destroy</th>
	<th>Iterations</th>
	<th>Userstories</th>
	<th>Tasks</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
	<td><%= project.id %></td>
    <td><%= link_to project.name, new_project_iteration_path(project.id) %></td>
    <td><%= link_to(image_tag('editing.png' ), edit_project_path(project), :class => "edittag") %> </td>
    <td><%= link_to image_tag('delete.png'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td>
				<% @allitertions = Iteration.find(:all, :conditions => {:project_id  =>  project.id})%>
				<%arr = Array.new%>
				<%i = 0%>
				<% @allitertions.each do |demo| %>
					<% arr<< demo.id%>
					<%i = i +1%>
				<%end%>
				<%= i %>
	</td>
    <td>
		<% @allusdemo = Usdemo.find(:all, :conditions => {:projectid  =>  project.id})%>
					<%arr = Array.new%>
					<%j = 0%>
					<% @allusdemo.each do |demo| %>
						<% arr<< demo.id%>
						<%j = j +1%>
					<%end%>
					<%= j %>
	</td>
    <td >
    		
    	<% @allusdemo = Task.find(:all, :conditions => {:proid  =>  project.id})%>
					<%arr = Array.new%>
					<%k = 0%>
					<% @allusdemo.each do |demo| %>
						<% arr<< demo.id%>
						<%k = k +1%>
					<%end%>
					<%= k %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('New.png'), new_project_path %>

<%#= image_tag "ruby.jpg" , :size => "200x100"%>




<style>
.edittag {
    text-decoration: none;
}
</style>
