

<table>
  <tr>
	<th>Project Id</th>
    <th>Project Name</th>
	
    <th></th>
    <th></th>
	<th>Iterations</th>
	<th>Userstories</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
	<td><%= project.id %></td>
    <td><%= link_to project.name, new_project_iteration_path(project.id) %></td>
    <td><%= link_to(image_tag('editing.png' ), edit_project_path(project), :class => "edittag") %> </td>
    <td><%= link_to image_tag('delete.png'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('New.png'), new_project_path %>

<%#= image_tag "ruby.jpg" , :size => "200x100"%>




<style>
.edittag {
    text-decoration: none;
}
</style>
